@import "tailwindcss";

@source "../*.php";
@source "pages/*.php";
@source "components/*.php";

@theme {

    /*Couleur custom*/
    --color-vert-principale: #2E7D32;
    --color-vert-principal-h: #016630;
    --color-vert-second: #EBF2EB;
    --color-beige-principale: #F3EDE3;
    --color-beige-second: #C3AB79;
    --color-noir: #333333;
    --color-gris1: #4C4C4C;
    --color-gris2: #ABAAAB;
    --color-rouge: #E7000B;
}