@import "tailwindcss";

@theme {

    /*Couleur custom*/
    --color-vert-principale: #2E7D32;
    --color-vert-principal-h: #016630;
    --color-vert-second: #EBF2EB;
    --color-beige-principale: #F3EDE3;
    --color-beige-second: #C3AB79;
    --color-gris: #4C4C4C;
    --color-rouge: #E7000B;
}